adf/pipeline/Busqueda de tablas CSV1.json
{
	"name": "Busqueda de tablas CSV1",
	"properties": {
		"activities": [
			{
				"name": "Buscar tablas csv",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "tablas_csv2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iterar archivos csv",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Buscar tablas csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Buscar tablas csv').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Nombre archivo csv",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tablas_csv",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Crear string tablas",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Iterar archivos csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "string_archivos",
					"value": {
						"value": "@join(variables('tablas_csv'),',')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"tablas_csv": {
				"type": "Array"
			},
			"string_archivos": {
				"type": "String"
			},
			"string_tablas": {
				"type": "String"
			}
		},
		"annotations": []
	}
}